@font-face {
  font-family: Nunito;
  src: url(./../assets/fonts/Nunito-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Nunito;
  src: url(./../assets/fonts/Nunito-ExtraBold.ttf);
  font-weight: 800;
}

html {
  font-size: 16px;
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.header-logo {
  max-width: 40px;
}

.fa-bars {
  font-size: 30px;
}

.nav-container {
  display: flex;
  align-items: baseline;
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 5%;
}

.title {
  text-transform: uppercase;
  color: #ed6336;
  margin-bottom: 16px;
  font-weight: bold;
}

.subtitle {
  font-size: 2.3rem;
  font-weight: 800;
  margin-bottom: 32px;
}

.btn {
  background-color: #ed6336;
  color: white;
  text-transform: uppercase;
  border-radius: 0 30px 30px 30px;
  border: none;
  padding: 16px 24px;
  letter-spacing: 1px;
  margin-bottom: 32px;
}

.btn-nav {
  display: inline-flex;
  background-color: transparent;
  border: 2px solid #ed6336;
  color: black;
  margin-bottom: 0;
}

.btn-nav:hover {
  background-color: #ed6336;
  color: white;
}

.btn-section {
  color: white;
  display: inline-flex;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.articles-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.article {
  border-radius: 30px;
  width: 95%;
  height: 230px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 24px;
  position: relative;
}

.article::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: .3;
  border-radius: 30px;
}

article:first-of-type {
  background-image: url(./../assets/imgs/01.jpeg)
}

article:nth-of-type(2) {
  background-image: url(./../assets/imgs/02.jpeg)
}

article:last-of-type {
  background-image: url(./../assets/imgs/03.jpeg);
  margin-bottom: 0;
}

.article-content {
  text-align: center;
  z-index: 2;
}

.article-category {
  text-transform: uppercase;
  z-index: 2;
  margin-bottom: 0.25rem;
  font-size: 12px;
}

.category-title {
  font-size: 1.25rem;
  font-weight: 800;
  z-index: 2;
  margin-bottom: 1rem;
}

@media screen and (min-width:880px) {

  html {
    font-size: 20px;
  }

  .header {
    padding: 16px 5%;
  }

  .header-logo {
    max-width: 50px;
  }

  .fa-bars {
    display: none;
  }

  .nav-container {
    display: inline-flex;
    align-items: baseline;
  }

  .nav-item {
    margin-right: 2rem;
    padding-bottom: 16px;
  }


  .nav-item:hover {
    border-bottom: 2px solid #ed6336;
    cursor: pointer;
  }

  .nav-item:hover a {
    color: #ed6336;

  }

  .nav-item:hover .fa-sort-down {
    color: #ed6336;
  }

  .nav-item.nav-dropdown {
    position: relative;
  }

  .nav-item.nav-dropdown:hover {
    color: #ed6336;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 40px;
    left: -40px;
    width: 245px;
    z-index: 1;
    padding: 20px;
    background-color: white;
    color: black;
  }

  .submenu-item {
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-bottom: 8px;
    margin-bottom: 16px;
  }

  .submenu-item:hover {
    color: #ed6336;
    cursor: pointer;
  }

  .nav-item.nav-dropdown:hover .submenu {
    display: inline-block;
  }

  .nav-item-nav .nav-container li.nav-item:last-of-type {
    margin-right: 0;
  }

  .fa-sort-down {
    position: relative;
    top: -2px;
    margin-left: 8px;
    font-size: 20px;
  }

  .nav-item-icon {
    display: flex;
    align-items: baseline;
    margin-left: 4px;
  }

  .section {
    padding: 5%;
  }

  .section-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  .subtitle {
    font-size: 3rem;
  }

  .section-header {
    margin-bottom: 1rem;
  }

  .section-header-titles {
    align-items: flex-start;
  }

  .btn-section {
    font-size: 20px;
    padding: 24px 32px;
  }

  .btn-section:hover {
    border: 2px solid #ed6336;
    background-color: white;
    color: #ed6336;
  }

  .articles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 400px;
  }

  .article::before {
    display: none;
  }

  article:hover {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .article::before {
    display: none;
  }

  .article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  article:hover .article-content {
    display: inline-flex;
    margin-bottom: 0;
  }

  .category-title {
    margin-bottom: 0;
  }
}